.MainNavBar
{
    display: grid;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.TextNavBar
{
font-family: system-ui;
font-weight: 700;
color: #858585;
padding-left: 5em;
font-size: 20px;
}
.ButtonNavBar
{
border: 1px #fff solid;
background-color: #fff;
display: flex;
align-items: center;
color: #000;
font-family: system-ui;
font-weight: 700;
border-radius: 5px;
padding: 5px;
transition: 0.9s;
padding-right: 5em;
font-size: 15px;
}
.ButtonNavBar:hover
{
    border: 1px #000 solid;
    transition: 0.6s;
}