*
{
  box-sizing: border-box;
}
body
{
  background-color: #fafafa;
}
.light 
{
background-color: #fff;
color: #333;
 }

.dark
 {
  
background-color: #202C37;
color: #fff;
}
.darknav
{
  background-color: #2B3945;
}